# If .trivyignore is changed, add (new) CVE suppression changes to InfluxDB

name: Check for CVE suppression changes

on:
  workflow_call:

jobs:
  check-for-cve-suppressions:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check for CVE suppression changes in trivyignore
        id: new-cve-suppressions
        if: ${{ hashFiles('./.trivyignore') != '' }}
        run: |
          git diff --unified=0 ${{ env.COMMIT_HASH_BEFORE }}..${{ env.COMMIT_HASH_AFTER }} -- .trivyignore | grep -E -i '^([+]|[-])(CVE).*' | cut -d' ' -f 1 >> trivy-git-diff.txt
        env:
          COMMIT_HASH_BEFORE: ${{ github.event.before }}
          COMMIT_HASH_AFTER: ${{ github.event.after }}
      - name: Write CVE suppressions to InfluxDB with bash
        if: ${{ hashFiles('./.trivyignore') != '' }}
        shell: bash
        run: |
          cve_suppressions=$(cat ./trivy-git-diff.txt)
          if [ "$cve_suppressions" == "" ]; then
            echo "No suppressions found"
            echo "Abort"
            exit 0;
          fi
                       
          # Handle CVEs with whitespaces
          # Like: CVE-123 # spring security
          IFS=$(echo -en "\n\b")
          for suppression in ${cve_suppressions[@]}; do
            if [ ! "$suppression" == "" ]; then
              if [[ $suppression == "+"* ]]; then
                event_type="suppressed"
              elif [[ $suppression == "-"* ]]; then
                event_type="active"
              else
                event_type=""
              fi
              bucket="cve,"
              tags="repository=${{ github.repository }},application=${{ github.event.repository.name }}"
              fields=" commit_hash=\"${{ github.event.head_commit.id }}\",cve=\"${suppression:1}\",event=\"${event_type}\""
              # Create data file to post
              echo "$bucket$tags$fields" >> suppression_changes.txt                        
              curl -i --request POST \
                "https://westeurope-1.azure.cloud2.influxdata.com/api/v2/write?org=eid&bucket=cve&precision=ns" \
                --header "Authorization: Token ${{ secrets.INFLUXDB_TOKEN }}" \
                --header "Content-Type: text/plain; charset=utf-8" \
                --header "Accept: application/json" \
                --data-binary @suppression_changes.txt
              # Remove data file after post 
              rm suppression_changes.txt
            fi
            sleep 1
          done


