name: eID build/publish Docker image 

on:
  workflow_call:
    inputs:
      image-name:
        required: true
        type: string
      config-filename-idporten:
        required: false
        type: string 
      config-filename-ansattporten:
        required: false
        type: string         
      config-filename-connect2norway:
        required: false
        type: string
      config-filename-ytelsetest:
        required: false
        type: string         
    secrets:
      eid-build-token:
        required: true
      maven-user:
        required: true
      maven-password:
        required: true
      registry-url:
        required: true
      registry-username:
        required: true
      registry-password:
        required: true
      allure-user:
        required: true
      allure-password:
        required: true
jobs:
  build-image:
      runs-on: ubuntu-latest
      env:
        IMAGE-NAME:  ${{ inputs.image-name }}
        CONFIG-FILENAME-IDPORTEN:  ${{ inputs.config-filename-idporten }}
        CONFIG-FILENAME-ANSATTPORTEN:  ${{ inputs.config-filename-ansattporten }}
        CONFIG-FILENAME-CONNECT2NORWAY:  ${{ inputs.config-filename-connect2norway }}
        CONFIG-FILENAME-YTELSETEST:  ${{ inputs.config-filename-ytelsetest }}        
      steps:
        - name: Set imagetag as env variable
          run: echo "IMAGETAG=$(date +'%Y-%m-%d-%H%M')-${GITHUB_SHA::8}" >> $GITHUB_ENV
        - uses: actions/checkout@v2
        - name: Set up JDK 1.11
          uses: actions/setup-java@v1
          with:
            java-version: 1.11
        - name: Cache Maven packages
          uses: actions/cache@v2
          with:
            path: ~/.m2
            key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
            restore-keys: ${{ runner.os }}-m2
        - uses: s4u/maven-settings-action@v2.2.0
          with:
            servers: |
              [{
                  "id": "github-oidc-sdk",
                  "username": "${{ secrets.maven-user }}",
                  "password": "${{ secrets.maven-password }}"
              }]
        - name: Maven update version used in application.yaml
          run: mvn versions:set -B -DnewVersion=$IMAGETAG
        - name: Build image with Maven/Spring Boot
          run: mvn -B spring-boot:build-image --file pom.xml -Dspring-boot.build-image.imageName=${{ secrets.registry-url }}/${{env.IMAGE-NAME}}:$IMAGETAG
        - name: Container image scan
          uses: Azure/container-scan@v0.1
          with:
            # Docker image to scan
            image-name: ${{ secrets.registry-url }}/${{env.IMAGE-NAME}}:${{env.IMAGETAG}}
            # Minimum severities of vulnerabilities to be displayed (UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL)
            token: ${{ github.token }}
            severity-threshold: HIGH
        - name: 'push image'
          uses: azure/docker-login@v1
          with:
            login-server: ${{ secrets.registry-url }}
            username: ${{ secrets.registry-username }}
            password: ${{ secrets.registry-password }}
        - run:
            docker push ${{ secrets.registry-url }}/${{env.IMAGE-NAME}}:${{env.IMAGETAG}}
        - run:
            echo "IMAGE_DIGEST=$(docker inspect --format='{{.RepoDigests}}' ${{ secrets.registry-url }}/${{env.IMAGE-NAME}}:${{env.IMAGETAG}}|cut -d '@' -f 2|cut -d ']' -f 1)" >> $GITHUB_ENV
        - name: Checkout Allure test scripts
          uses: actions/checkout@v2
          with:
            repository: felleslosninger/eid-github-actions
            token: ${{ secrets.eid-build-token }}
            path: scripts
        - name: Publish test report to allure server
          run: bash ./scripts/scripts/allure_test_results.sh
          env:
            PROJECT_REPO: ${{ github.event.repository.name }}
            ALLURE_USER: ${{ secrets.allure-user }}
            ALLURE_PASSWORD: ${{ secrets.allure-password }}
            MULTI_MODULE: "false"
        - name: 'update cd'
          uses: peter-evans/repository-dispatch@ce5485de42c9b2622d2ed064be479e8ed65e76f4 # pin@v1.1.3
          with:
            token: ${{ secrets.eid-build-token }}
            event-type: update-idporten-version
            repository: 'felleslosninger/idporten-cd'
            client-payload: '{"application": "${{env.IMAGE-NAME}}", "config-filename-idporten": "${{env.CONFIG-FILENAME-IDPORTEN}}", "config-filename-ansattporten": "${{env.CONFIG-FILENAME-ANSATTPORTEN}}", "config-filename-connect2norway": "${{env.CONFIG-FILENAME-CONNECT2NORWAY}}", "config-filename-ytelsetest": "${{env.CONFIG-FILENAME-YTELSETEST}}", "image": "${{secrets.registry-url}}/${{env.IMAGE-NAME}}:${{env.IMAGETAG}}@${{env.IMAGE_DIGEST}}","version":"${{env.IMAGETAG}}"}'
