name: Maven build java

on:
  workflow_call:
    inputs:
      java-version:
        description: Main version of java
        default: '11'
        required: false
        type: string
    secrets:
      maven-user:
        description: Maven user
        required: true
      maven-password:
        description: Maven password
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ inputs.java-version }}
        uses: actions/setup-java@v2
        with:
          distribution: 'liberica'
          java-version: ${{ inputs.java-version }}
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - uses: s4u/maven-settings-action@v2.2.0
        with:
          servers: |
            [{
            "id": "github",
            "username": "${{ secrets.maven-user }}",
            "password": "${{ secrets.maven-password }}"
            }]
      - name: Build with Maven
        run: mvn -B test
