name: Release to github packages

on:
  workflow_call:
    inputs:
      java-version:
        description: Main version of java
        default: '11'
        required: false
        type: string
    secrets:
      packages-user:
        description: Github packages user
        required: true
      packages-token:
        description: Github packages user token
        required: true
      maven-user:
        description: Maven user
        required: true
      maven-password:
        description: Maven password
        required: true

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ inputs.java-version }}
        uses: actions/setup-java@v2
        with:
          distribution: 'liberica'
          java-version: ${{ inputs.java-version }}
      - uses: s4u/maven-settings-action@v2.6.0
        with:
          servers: |
            [{
            "id": "github",
            "username": "${{ secrets.maven-user }}",
            "password": "${{ secrets.maven-password }}"
            }]
      - name: Deploy to Github Package Registry
        run: |
          mkdir -p ~/.m2
          echo "<settings><servers><server><id>github</id><username>${{ secrets.packages-user }}</username><password>${{ secrets.packages-token }}</password></server></servers></settings>" > ~/.m2/settings.xml
          REPO="github::default::https://maven.pkg.github.com/${GITHUB_REPOSITORY}"
          mvn versions:set -B -DnewVersion="${{ github.event.release.tag_name }}"
          mvn -B deploy -DaltDeploymentRepository="${REPO}"
