name: Release to github packages

on:
  workflow_call:
    inputs:
      java-version:
        description: Main version of java
        default: '11'
        required: false
        type: string
    secrets:
      eid-build-token:
        description: Token from eid-build
        required: true

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK ${{ inputs.java-version }}
        uses: actions/setup-java@v2
        with:
          distribution: 'liberica'
          java-version: ${{ inputs.java-version }}
      - name: Deploy to Github Package Registry
        env:
          GITHUB_TOKEN: ${{ secrets.eid-build-token }}
        run: |
          mkdir -p ~/.m2
          echo "<settings><servers><server><id>github</id><username>eid-build</username><password>\${env.GITHUB_TOKEN}</password></server></servers></settings>" > ~/.m2/settings.xml
          REPO="github::default::https://maven.pkg.github.com/${GITHUB_REPOSITORY}"
          mvn versions:set -B -DnewVersion="${{ github.event.release.tag_name }}"
          mvn -B deploy -DaltDeploymentRepository="${REPO}"
