name: Call Notify on workflow errors

on:
  workflow_call:
    inputs:
      java-version:
        description: Main version of java
        default: '11'
        required: false
        type: string
      slack-channel-id:
        description: Team channel id
        default: ''
        required: false
        type: string

env:
  PLATFORM_CHANNEL_ID: ${{ secrets.platform-slack-channel-id }}
  TEST_PLATFORM_CHANNEL_ID: ${{ secrets.SLACK_PLATTFORM_CI_CD_CHANNEL_ID }}


jobs:
  build-publish-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
  print:
    runs-on: ubuntu-latest
    steps:
      - name: Print slack channel id
        run: |
          echo "Channel id=${{ inputs.slack-channel-id }}"
          echo "Platform Channel id=$PLATFORM_CHANNEL_ID"
        
  notify:
    needs: [build-publish-image, print]
    #if: ${{ always() && contains(needs.*.result, 'failure') }}
    uses: ./.github/workflows/send-notification-on-workflow-errors.yml
    with:
      slack-channel-id: ${{ inputs.slack-channel-id }}
      slack-platform-channel-id: ${{ env.TEST_PLATFORM_CHANNEL_ID }} 
    secrets: inherit 

