name: Call Notify on workflow errors

on:
  workflow_call:
    inputs:
      java-version:
        description: Main version of java
        default: '11'
        required: false
        type: string
      slack-channel-id:
        description: Team channel id
        default: ''
        required: false
        type: string
#    secrets:
#      slack-token:
#        description: Slack bot token
#        required: true
#      platform-slack-channel-id:
#        description: Platform Slack Channel Id
#        required: true

env:
  PLATFORM_CHANNEL_ID: ${{ secrets.platform-slack-channel-id }}


jobs:
  build-publish-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
  print:
    runs-on: ubuntu-latest
    steps:
      - name: Print slack channel id
        run: echo "Channel id=${{ inputs.slack-channel-id }}"      
  notify:
    needs: [build-publish-image, print]
    #if: ${{ always() && contains(needs.*.result, 'failure') }}
    uses: ./.github/workflows/send-notification-on-workflow-errors.yml
    with:
      slack-channel-id: ${{ inputs.slack-channel-id }}
      #slack-platform-channel-id: ${{ env.PLATFORM_CHANNEL_ID }}
      slack-platform-channel-id: ${{ inputs.slack-channel-id }}
      slack-token: ${{ secrets.SLACK_CICD_NOTIFICATION_TOKEN }}  
   #secrets:
    #slack-token: ${{ secrets.slack-token }} 
    #slack-token: ${{ secrets.SLACK_CICD_NOTIFICATION_TOKEN }}  

