# Sends a notification to a slack channel if a workflow error occurs
# If a team provides a slack channel id, a notification will also be sent to their channel

# Using hardcoded plattform slack channel id: 'C05G4B8R2GG'


name: Notify on workflow errors

on:
  workflow_call:
    inputs:
      slack-channel-id:
        type: string
        required: false
        default: ''
env:
  SLACK_BOT_TOKEN: ${{ secrets.SLACK_CICD_NOTIFICATION_TOKEN }}

jobs:
  send-notifications:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        channel: ['${{ inputs.slack-channel-id }}', 'C05G4B8R2GG']
    steps:
      - name: Checkout JS Tools
        uses: actions/checkout@v3
        with:
          repository: felleslosninger/eid-github-workflows
          path: tools
      - name: Get commit message
        id: commit-message
        uses: actions/github-script@v6
        with:
          script: |
            const Utils = require('./tools/.github/js/github-context-utils.js');
            const message = Utils.getCommitMessage(${{ toJson(github) }});
            return message;
      - name: Notify
        if: ${{ matrix.channel != '' }}
        id: slack
        uses: slackapi/slack-github-action@v1.24.0
        with:
          channel-id: ${{ matrix.channel }}
          payload: |
            {
              "text": "Github Action failed",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                   "type": "mrkdwn",
                    "text": "GitHub Action - Workflow failed\n*${{ fromJson(steps.commit-message.outputs.result) }}*"
                  }
                },
                {
                  "type": "section",
                  "text": {
                   "type": "mrkdwn",
                    "text": "*Workflow*\n${{ github.workflow_ref }}"
                  }
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Repository*\n${{ github.repository }}"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Run id*\n*<https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{ github.run_id }}>*"
                    }
                  ]
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Committer*\n${{ github.actor }}"
                    }
                  ]
                },
               {
                  "type": "divider"
                }
              ]
            }
