# Sends a notification to a slack channel if a workflow error occurs
# If a team provides a slack channel id, a notification will also be sent to their channel

name: Notify on workflow errors

on:
  workflow_call:
    inputs:
      slack-channel-id:
        type: string
        required: false
        default: ''
      slack-platform-channel-id:
        type: string
        required: true
    secrets:
      SLACK_CICD_NOTIFICATION_TOKEN:
        required: true
      SLACK_PLATTFORM_CI_CD_CHANNEL_ID:
        required: true

env:
  #SLACK_BOT_TOKEN: ${{ secrets.slack-token }}
  SLACK_BOT_TOKEN: ${{ secrets.SLACK_CICD_NOTIFICATION_TOKEN }}
  #SLACK_BOT_TOKEN: ${{ secrets.slack-token }}
  SLACK_PLATFORM_CHANNEL_ID: ${{ secrets.SLACK_PLATTFORM_CI_CD_CHANNEL_ID }}

jobs:
  send-notifications:
    strategy:
      matrix:
        channel: ['${{ inputs.slack-channel-id }}']
        include:
          - channel: ${{ secrets.SLACK_PLATTFORM_CI_CD_CHANNEL_ID }}  
    runs-on: ubuntu-latest
    steps:
      - name: Notify
        if: ${{ matrix.channel != '' }}
        id: slack
        uses: slackapi/slack-github-action@v1.24.0
        with:
          channel-id: ${{ matrix.channel }}
          payload: |
            {
              "text": "Github Action failed",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                   "type": "mrkdwn",
                    "text": "GitHub Action - Workflow failed\n*<https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|${{ github.repository }}>*"
                  }
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Repository:*\n${{ github.repository }}"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Run id:*\n${{ github.run_id }}"
                    }
                  ]
                },
               {
                  "type": "divider"
                }
              ]
            }              

